--extra-index-url https://download.pytorch.org/whl/cu132

fastapi
uvicorn
streamlit
xgboost
scikit-learn
torch
torchvision
torchaudio
transformers
python-dotenv
requests
pandas
numpy
python-multipart
accelerate
